@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    height: 97%;
    width: 97%;

    overflow: hidden;

    background-color: #fefff4;
    font-family: "Nanum Gothic", sans-serif;

    word-break: keep-all;
}

body::-webkit-scrollbar {
    width: 1em;
}

a {
    text-decoration: none !important;
    color: purple;
}

.center {
    text-align: center;
}

#top_logo {
    display: block;
    height: 50px;

    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

div.questions {
    border: 1px solid #808080;

    position: absolute;
    width: 65%;
    height: 90%;
}

div.questions > * {
    margin-top: 15px;
    margin-left: 15px;
}

div.questions {
    width: 70%;
    height: 96%;

    min-width: 830px;
    min-height: 680px;
}

#questions {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#questions tr td {
    text-align: center;
}

#questions tbody tr td:nth-child(6) {
    text-align: left;
}

div.panel {
    position: absolute;
    margin-bottom: 0;
    margin-left: 71%;
    height: 100%;
    width: 28%;

    min-height: 723px;
    max-width: 330px;
}

div.panel > div {
    border: 1px solid #808080;
    position: relative;
    /* margin-left: 66%; */

    min-width: 300px;
    margin-bottom: 3%;

    width: 97%;
    height: 30%;
}

div.panel div > p {
    margin: 15px;
}

div.panel div > h2 {
    margin: 15px;
}

div.panel div > table {
    margin: 15px;
}

div.panel h4 {
    margin-top: 0;
    margin-bottom: 0;
}

div.panel ul {
    list-style: none;
    padding-left: 25px;
}

div.panel li {
    padding-left: 10px;
    text-indent: -.7em;
}

div.panel li::before {
    content: "• ";
    color: black;
}

div#submit_question {
    min-height: 200px;
}

div#submit_question > table {
    margin-bottom: 0;
    margin-right: 0;
}

div#submit_question > table select {
    width: 100px;
}

div#submit_question > input {
    position: absolute;
    right: 0;
    bottom: 5px;
}

div#submit_question table input {
    width: 100px;
}

div#submit_question table tr > td:nth-child(1) {
    text-align: right;
}

div#user_info {
    min-height: 220px;
}

div#user_info table tr > td:nth-child(1) {
    text-align: right;
}

div#user_info table tr > td:nth-child(2) {
    text-align: center;
    width: 150px;
}

div#notice {
    word-break: initial;
    min-height: 160px;

    overflow-x: hidden;
}

.status {
    overflow: auto;
}

.success {
    color: #009050;
}

.pending {
    color: #FFC000;
}

.error {
    color: #C00000;
}