@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    height: 97%;
    width: 97%;

    overflow: hidden;

    background-color: #fefff4;
    font-family: "Nanum Gothic", sans-serif;
}


#top_logo {
    display: block;
    height: 50px;

    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

div.questions {
    border: 1px solid #808080;

    position: absolute;
    width: 65%;
    height: 90%;
}

div.questions > * {
    margin-top: 15px;
    margin-left: 15px;
}

div.panel div {
    border: 1px solid #808080;
    position: absolute;
    margin-left: 66%;

    width: 32%;
    height: 30%;
}

div.panel div > * {
    margin: 15px;
}

div#submit_question > table {
}

div#submit_question input {
    right: 0;
}

div#submit_question table tr > td:nth-child(1) {
    text-align: right;
}

div#user_info {
    top: 32%;
}

div#notice {
    top: 63%;
    height: 28%;
}