@charset "UTF-8";
@import url('/css/base.css');

/**************************
Page Settting
2015/01 version Epulse#1
**************************/

html, body { width:100%; min-width:1090px; height:100%; }
body { background:#fff; }

/*Font*/
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body, div,ul,li { font-family:"나눔고딕","NanumGothic","맑은고딕","Malgun Gothic", sans-serif !important; } /*서버에서 폰트를 불러올 때까지 문자열이 깨지는 것을 방지*/
a { color:#666; text-decoration:none; }
a:hover, a:focus { color:#000; text-decoration:none; }

/**************************
Page Layout
**************************/

.wrap { position:absolute; width:100%; background:#fff; }
.sub { position:absolute; width:100%; background:#fff; }

/* Header */
.header { position:relative; width:100%; height:130px; background:url(/image/common/bg_top.jpg) center top repeat-x; }
.top_area { position:relative; width:1000px; height:130px; margin:0 auto; }
.gnb_area { position:relative; width:1000px; height:82px; overflow:hidden; }
.gnb2 { float:right; display:inline-block; }
.gnb2 li { float:left; height:38px; line-height:38px; margin-top:25px; padding-left:15px; font-weight:600; color:#BABEC5; }
.gnb2 li a { color:#BABEC5; }
.logo { position:absolute; left:0; top:20px; z-index:999; }
.tip_area { position:relative; width:1000px; height:36px; overflow:hidden; }
.tip_news1 { float:left; margin-right:60px; }
.tip_news2 { float:left; margin-right:0px; }
.tip_news1 li, .tip_news2 li { float:left; height:36px; line-height:36px; font-size:1.083em; font-weight:600; color:#fff; }
.tm_deco { padding-right:20px; }
.yellow { color:#FFF70F; }

/*main nav*/
ul.horizontal-dropdown { position:relative; display:block; float:left; top:0px; right:0px; height:48px; z-index:99998; border:0px solid #222; }
ul.horizontal-dropdown li { float:left; height:48px; }
ul.horizontal-dropdown li a { float:left; display:block; height:48px; line-height:48px; padding:0 24px; font-size:1.417em; font-weight:600; letter-spacing:0em; color:#fff; background:url(/image/common/lnb_line.jpg) right center no-repeat; }
ul.horizontal-dropdown li a:hover { color:#FAFD1A; }
ul.horizontal-dropdown li.end a { background:url(/image/common/lnb_line1.jpg) }
/*sub nav*/
ul.horizontal-dropdown ul.smn1 { position:absolute; margin:0; left:0px; top:48px; width:118px; overflow:hidden; }
ul.horizontal-dropdown ul.smn2 { position:absolute; margin:0; left:0px; top:48px; width:118px; overflow:hidden; }
ul.horizontal-dropdown ul.smn3 { position:absolute; margin:0; left:0px; top:48px; width:118px; overflow:hidden; }
ul.horizontal-dropdown ul.smn4 { position:absolute; margin:0; left:0px; top:48px; width:118px; overflow:hidden; }
ul.horizontal-dropdown ul.smn5 { position:absolute; margin:0; left:0px; top:48px; width:118px; overflow:hidden; }
ul.horizontal-dropdown ul.smn6 { position:absolute; margin:0; left:0px; top:48px; width:118px; overflow:hidden; }
ul.horizontal-dropdown ul.smn7 { position:absolute; margin:0; left:0px; top:48px; width:118px; overflow:hidden; }
ul.horizontal-dropdown ul.smn8 { position:absolute; margin:0; left:0px; top:48px; width:118px; overflow:hidden; }
ul.horizontal-dropdown ul.smn8 li { background:#fff; }
ul.horizontal-dropdown ul li { width:159px; height:auto; padding:0; background:#ffff; border:1px solid #ccc; border-top:0px; clear:both; }
ul.horizontal-dropdown ul li a { position:relative; top:0; left:0; display:block; width:100%; height:25px; line-height:25px; text-align:left; padding-left:7px; padding-right:0; font-size:1.1em; font-weight:400; letter-spacing:0em; color:#000; background:#fff; }
ul.horizontal-dropdown ul li a:hover { color:#fff; background:#2E91ED; }
.smn_spc1 { margin-left:0px; }
.smn_spc2 { margin-left:160px; }
.smn_spc3 { margin-left:250px; }
.smn_spc4 { margin-left:370px; }
.smn_spc5 { margin-left:490px; }
.smn_spc6 { margin-left:655px; }
.smn_spc7 { margin-left:610px; }
.smn_spc8 { margin-left:800px; }

/* Content */
.container_main { position:relative; width:100%; background:url(/image/main/bg_bottom.jpg) center bottom repeat-x; }
.container { position:relative; width:1000px; margin:0 auto; padding:0; background:url(/image/common/bg_content.jpg) left top repeat-y; overflow:hidden; }

.main_section1 { position:relative; width:1000px; margin:0 auto; padding:15px 0; }
.main_visual { position:relative; width:100%; height:500px; background:#163D61; }

/*visual rolling*/
.spot { position:relative; min-width:1000px; height:500px; text-align:center; }
.spot_images {overflow:hidden; height:500px; }
.spot_images .spot_image1, .spot_images .spot_image2, .spot_images .spot_image3, .spot_images .spot_image4, .spot_images .spot_image5, .spot_images .spot_image6, .spot_images .spot_image7 { position:absolute; top:0; left:0; z-index:100; width:100%; height:500px; text-align:center; }
.spot_images .spot_image2, .spot_images .spot_image3, .spot_images .spot_image4, .spot_images .spot_image5, .spot_images .spot_image6, .spot_images .spot_image7 { opacity:0; filter:alpha(opacity=0); }
.spot_images .image { height:500px; }
.spot_images .image div { position:relative; width:1000px;*width:1000px; height:500px; margin:0 auto; text-align:left; }
:root .spot_images .image div { width:1000px; }
.spot_image1 .image { background:url(/image/main/main_img1.jpg) no-repeat 50% 0; }
.spot_image2 .image { background:url(/image/main/main_img2.jpg) no-repeat 50% 0; }
.spot_image3 .image { background:url(/image/main/main_img3.jpg) no-repeat 50% 0; }
.spot_image4 .image { background:url(/image/main/main_img4.jpg) no-repeat 50% 0; }
.mainshow { z-index:900 !important }
.spot_static { position:absolute; top:0; left:50%; z-index:1000; width:1000px; height:1px; margin-left:-1000px}
.spot_static .page { position:absolute; top:390px ;right:40px; z-index:1000; }
.spot_static .page a { float:left; width:20px; height:20px; border:0; background:url(/image/main/main_img_off.png) no-repeat;_background:none;text-indent:-9999px;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/main/main_img_off.png',sizingMethod=crop);cursor:pointer;_cursor:hand}
.spot_static .page a.on,
.spot_static .page a:hover{background-image:url(/image/main/main_img_on.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/main/main_img_on.png',sizingMethod=crop)}

.main_section_area { position:relative; width:1000px; margin:0 auto; }
.main_section1 { position:relative; width:100%; margin-top:20px; overflow:hidden; }
.main_section2 { position:relative; width:100%; margin-top:20px; overflow:hidden; }
.main_section3 { position:relative; width:100%; margin:30px 0 40px 0; padding:30px 0; overflow:hidden; }

.main_section1_left, .main_section2_left { float:left; width:480px; overflow:hidden; }
.main_section1_right, .main_section2_right { float:right; width:480px; overflow:hidden; }

.main_title { margin-bottom:12px; font-size:1.417em; font-weight:600; color:#222; }
.main_more a { float:right; font-size:12px; color:#999; }
.blue { color:#304EA4; }
.main_section1_img { margin:0; }
.main_section2_box { position:relative; width:100%; overflow:hidden; }
.main_section2_box_left { float:left; width:250px; border-right:1px solid #ddd; }
.main_section2_box_right { float:right; width:200px; }
.main_section2_box_img {}
.main_section2_box_txt { width:220px; margin-top:12px; color:#888; line-height:140%; }
.main_str { display:block; margin-bottom:3px; font-size:1.167em; font-weight:600; color:#444; }
.main_list { display:block; margin-top:-7px; }
.main_list li { height:26px; line-height:26px; padding-left:20px; font-size:1.083em; color:#666; border-bottom:1px dotted #999; background:url(/image/main/dot.jpg) left center no-repeat; }
.main_section3_left { float:left; width:290px; margin-right:60px; }
.main_section3_right { float:right; width:300px; }
.main_section3_box1, .main_section3_box2 { overflow:hidden; }
.main_review { overflow:hidden; }
.main_review_photo { float:left; width:95px; }
.main_review_txt { float:right; width:195px; color:#666; line-height:140%; }
.main_review_tit { display:block; font-size:1.167em; font-weight:600; color:#537AC2; }
.main_review_name { display:block; font-size:1.083em; font-weight:600; color:#444; }
.main_review_list { display:block; margin-top:7px; }
.main_review_list li { height:26px; line-height:26px; padding-left:3px; font-size:1.083em; color:#666; border-bottom:1px dotted #999; }
.news li { padding:3px 0 8px 0; font-size:1.083em; color:#666; }
.news_date { float:right; font-size:11px; color:#999; }
.main_tel_box { width:100%; border:2px solid #6C87AB; background:#fff; }
.main_tel { padding:10px 0 10px 50px; font-size:22px; font-weight:600; color:#7292D8; background:url(/image/main/icon_tel.jpg) 10px 10px no-repeat; }
.tel_big { display:block; margin-bottom:8px; font-size:30px; font-weight:600; color:#2D4F9D; }
.main_time { padding:10px 0 10px 50px; font-size:12px; font-weight:600; color:#4B6FAA; line-height:140%; background:#E5EFF8; }

table.ttype1 { width:100%; border-top:0px solid #1B87D6; }
table.ttype1 caption { position:absolute; visibility:hidden; font-size:0; }
table.ttype1 tbody td { padding:7px 0px; font-size:11px; color:#666; text-align:center; background:#fff; border-bottom:1px solid #D6E4E8; }
table.ttype1 tbody td.ttt { font-size:12px; color:#222; text-align:center; line-height:120%; overflow:hidden; }




/* Left */
.section { float:left; width:210px; }
.lmn_title { width:210px; height:65px; line-height:65px; padding-left:20px; font-size:2.083em; font-weight:600; color:#fff; background:url(/image/sub/lmn_tit_bg.jpg) left top no-repeat; }
.lmn_area { width:100%; margin-top:0px; border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD; }
.lmn { width:100%; }
.lmn li { display:block; width:100%; padding:12px 12px 12px 17px; line-height:140%; border-bottom:1px solid #DDDDDD; }
.lmn li a { display:block; width:100%; font-size:1.167em; font-weight:600; color:#444; background:#fff; }
.lmn li a:hover { color:#0F4776; background:#FAFAFA; }
.lmn_over { display:block; width:100%; font-size:1.208em; font-weight:600; color:#0F4776; background:#E2F1FE url(/image/sub/lmn_on_dot1.png) 190px center no-repeat; }
.left_ban { width:100%; margin:80px 0; }

/* Sub */
.sub_area { position:relative; width:100%; height:185px; margin-bottom:20px; background:url(/image/common/sub_img.jpg) center top no-repeat; }
.sub_img { position:relative; width:1000px; margin:0 auto; }
.article { float:right; width:740px; min-height:600px; }
.page { position:absolute; top:0px; right:0px; font-size:11px; font-weight:400; letter-spacing:-0.01em; color:#999; }
.page_on { color:#666; }
.page_title { margin:15px 0 40px 0; padding-top:12px; font-size:3.000em; font-weight:600; color:#222; background:url(/image/sub/title_deco.jpg) left top no-repeat; }
.page_title_smt { margin-top:10px; font-size:11px; font-weight:400; color:#999;}
.content { display:block; width:100%; min-height:600px; _height:600px; padding:10px 0 40px 0; font-size:1.083em; line-height:140%; color:#666; }

.cpany_copy {}
.cpany_cont { width:100%; margin:30px 0; overflow:hidden; }
.cpany_cont_left { float:left; width:300px; }
.cpany_cont_right { float:left; width:450px; }
.black { font-size:18px; font-weight:600; color:#000; }

/* Sub Content */
.sub_tab { display:block; height:40px; margin-bottom:30px; }
.sub_tab li { float:left; height:40px; line-height:40px; padding:0 20px; font-size:1.167em; font-weight:400; color:#555; border:1px solid #ccc; background:#EBEBEB; }
.sub_tab li.on { font-size:1.167em; font-weight:600; color:#fff; border:1px solid #3D91F0; background:#3D91F0; }
.sub_title { margin-bottom:15px; padding-left:20px; font-size:1.250em; font-weight:600; color:#003366; background:url(/image/sub/dot.jpg) left center no-repeat; }
.sub_cont { margin-bottom:30px; overflow:hidden; }
.mv_left { float:left; width:340px; height:200px; padding:15px; background:url(/image/sub/mv_bg.jpg) left center no-repeat; }
.mv_right { float:right; width:340px; height:200px; padding:15px; background:url(/image/sub/mv_bg.jpg) left center no-repeat; }
.mv_title { margin-top:10px; font-size:2.000em; font-weight:600; color:#fff; line-height:28px; }
.mv_smt { margin-top:10px; color:#fff; }
.btn_box { margin-top:30px; text-align:center; }

table.ttype2 { width:100%; border-top:2px solid #1B87D6; }
table.ttype2 caption { position:absolute; visibility:hidden; font-size:0; }
table.ttype2 tbody th { padding:10px 20px; font-size:1.083em; font-weight:600; color:#023255; text-align:center; background:#F2F9FC; border-bottom:1px solid #D6E4E8; }
table.ttype2 tbody td { padding:10px 20px; font-size:1em; color:#555; text-align:left; border-bottom:1px solid #D6E4E8; }
table.ttype2 tbody td.aaa { font-weight:600; color:#333; text-align:center; }
table.ttype2 tbody th.lf, table.ttype2 tbody td.lf { border-right:1px solid #D6E4E8; }

/* Footer */
.footer { position:relative; width:100%; margin-top:15px; background:#fff; }
.footer_area { width:1000px; margin:0 auto; padding-bottom:30px; }
.footer_mn { display:block; height:23px; }
.footer_mn li { float:left; margin-right:10px; padding-right:9px; font-size:1em; font-weight:600; color:#444; }
.footer_address { width:1000px; padding-top:10px; border-top:1px solid #CBCBCB; overflow:hidden; }
.address { float:left; width:770px; font-size:1em; color:#777; line-height:150%; }
.address a { color:#888; }
.footer_es { float:right; padding-top:4px; }



/*서브2차메뉴*/
.smn_area { position:relative; width:760px; height:35px; margin:25px 0 40px 0; background:url(/image/common/smn_bg.gif) left bottom repeat-x; }
.smn1 { }
.smn1 li { float:left; display:block; height:35px; line-height:35px; padding:0 20px; border-top:1px solid #C1C1C1; border-right:1px solid #C1C1C1; }
.smn1 li.first { border-left:1px solid #C1C1C1; }
.smn1 li a { font-size:1.2em; letter-spacing:-0.02em; color:#555555; }
.smn1 li.on { font-size:1.2em; font-weight:600; letter-spacing:-0.02em; color:#000000; background:#F0F0F0; }
.smn_area1 { position:relative; width:740px; height:40px; margin-bottom:15px;  border-left:1px solid #C1C1C1; border-right:1px solid #C1C1C1; border-bottom:1px solid #C1C1C1; background:#F0F0F0; }
.smn2 {  }
.smn2 li { float:left; display:block; height:40px; line-height:40px; padding:0 20px; }
.smn2 li a { font-size:1.1em; letter-spacing:-0.02em; color:#222222; }

.smn_area1_d { position:relative; width:740px; height:80px; margin-bottom:15px;  border-left:1px solid #C1C1C1; border-right:1px solid #C1C1C1; border-bottom:1px solid #C1C1C1; background:#F0F0F0; }

.sub_tit { position:relative; margin-bottom:15px; padding-left:19px; font-size:1.333em; font-weight:600; color:#222; background:url(/image/sub/sub_tit_dot.jpg) left center no-repeat; }
.cpany_img1 { margin-bottom:15px; }

/*시험테이블*/
table.ttt1 { width:100%; border-top:0px solid #76BCE5; }
table.ttt1 caption { position:absolute; visibility:hidden; font-size:0; }
table.ttt1 thead th { height:36px; line-height:36px; font-size:1em; font-weight:600; color:#fff; text-align:center; background-color:#4EC0FE; border-bottom:0px solid #BADBEE; border-left:1px solid #CAEAFD; border-right:1px solid #CAEAFD; }
table.ttt1 thead td { padding:7px 10px; font-size:1em; color:#555555; background:#fff; border-bottom:0px solid #CAEAFD; border-right:1px solid #CAEAFD; }
table.ttt1 tbody td { padding:7px 10px; text-align:center; font-size:1em; color:#555555; background:#F6FBFF; border-bottom:1px solid #A8DCFB; border-right:1px solid #A8DCFB; }
table.ttt1 tbody td.end { border-right:0px solid #A8DCFB; }

table.ttt2 { width:100%; border-top:0px solid #76BCE5; }
table.ttt2 caption { position:absolute; visibility:hidden; font-size:0; }
table.ttt2 thead th { height:36px; line-height:36px; font-size:1em; font-weight:600; color:#fff; text-align:center; background-color:#4EC0FE; border-top:1px solid #A8DCFB; border-bottom:1px solid #A8DCFB; border-right:1px solid #CAEAFD; }
table.ttt2 thead td { padding:7px 10px; text-align:left; font-size:1em; color:#555555; background:#F6FBFF; border-top:1px solid #A8DCFB; border-bottom:1px solid #A8DCFB; border-right:1px solid #A8DCFB; }

table.ttt3 { width:100%; border-top:0px solid #76BCE5; }
table.ttt3 caption { position:absolute; visibility:hidden; font-size:0; }
table.ttt3 tbody td.a0 { height:36px; line-height:36px; font-size:1em; color:#fff; text-align:center; background-color:#fff; border:0; }
table.ttt3 tbody td.a1 { height:36px; line-height:36px; font-size:1.083em; font-weight:600; color:#fff; text-align:center; background:#FD8429; border:0; }
table.ttt3 tbody td.a2 { height:36px; line-height:36px; font-size:1.083em; font-weight:600; color:#fff; text-align:center; background:#F86363; border:0; }
table.ttt3 tbody td.a3 { height:36px; line-height:36px; font-size:1.083em; font-weight:600; color:#fff; text-align:center; background:#5DBA5C; border:0; }
table.ttt3 tbody td.a4 { height:36px; line-height:36px; font-size:1.083em; font-weight:600; color:#fff; text-align:center; background:#6E8DED; border:0; }
table.ttt3 tbody td { height:36px; line-height:36px; text-align:center; font-size:1em; color:#555555; background:#F6FBFF; border:1px solid #A8DCFB; }

/*버튼*/
.btn_lecture { position:relative; width:100%; margin:40px 0; text-align:center; }